button-bg-color-primary = #23B98C
button-bg-color-secondary = #2C5AB3

.button-showcase-primary
  width 180px
  border-radius 0
  background-color button-bg-color-primary
  &:hover, &:focus
    background-color #23d0a3

.button-showcase-secondary
  border-radius 0
  background-color button-bg-color-secondary
  &:hover, &:focus
    background-color #306DD0

pagination-color = #2C5AB3

.uk-pagination
  li
    a
      background-color transparent
      border 0
      border-radius 0
      font-weight 600
      &:hover
        background-color transparent
    &.uk-active
      a
        background-color transparent
        color pagination-color
        border 2px solid pagination-color

input
  border-radius 0!important

.goods-list-content
  margin-bottom 20px

