bg-color = #8c8c8c
showcase-content-width = 960px

body
  background-color bg-color
  font-family 'Calibry', sans-serif
  -webkit-font-smoothing antialiased

.showcase-content
  width showcase-content-width
  margin-bottom 40px

.showcase-panel
  border-top 0
  min-height 800px
  border-radius 0

.list-goods
  position relative
  top -45px


.uk-tab
  li
    a
      padding 20px 60px
      border-radius 0
      font-weight 400
      &:hover
        background-color #ffffff

    &:not(.uk-active)
      a
        padding 20px 60px 19px 60px
        background-color #6A80A1
        margin-bottom 0
        color #ffffff
        &:hover
          background-color #6A80A1
          padding 20px 60px 19px 60px
          margin-bottom 0