<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>showcaseApp</title>

    <% if(webpackConfig.metadata.ENV == 'production') { %>
    <link rel="stylesheet" href="styles.css">
    <% } %>
</head>
<body>
    <div class="ui middle aligned center aligned grid">
        <div class="column sc-column">
            <div class="ui container">
                <div class="ui top attached tabular menu">
                    <a ui-sref-active="active" class="item" ui-sref="showcase">Витрина</a>
                    <a ui-sref-active="active" class="item" ui-sref="deleted-goods">Удаленные товары</a>
                </div>
                <div ui-view></div>
            </div>
        </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/semantic/dist/semantic.min.js"></script>
    <script src="bundle.js"></script>
</body>
</html>