<!DOCTYPE html>
<html lang="en" class="uk-height-1-1">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>showcaseApp</title>

    <% if(webpackConfig.metadata.ENV == 'production') { %>
    <link rel="stylesheet" href="styles.css">
    <% } %>
</head>
<body class="uk-height-1-1">
    <div class="uk-vertical-align uk-text-center uk-height-1-1">
        <div class="uk-vertical-align-middle showcase-content">

            <ul class="uk-tab" data-uk-tab>
                <li ui-sref-active="uk-active"><a ui-sref="showcase">Витрина</a></li>
                <li ui-sref-active="uk-active"><a ui-sref="deleted-goods">Удаленные товары</a></li>
            </ul>
            <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-text-left showcase-panel">
                <div ui-view></div>
            </div>
        </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/uikit/js/uikit.min.js"></script>
    <script src="bower_components/uikit/js/components/upload.min.js"></script>
    <script src="bundle.js"></script>
</body>
</html>