<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Добавить товар
    </div>
    <div class="content">
        <div class="ui form">
            <div class="row">
                <div class="sixteen wide field required">
                    <label>Название</label>
                    <input type="text" placeholder="Введите название товара" ng-model="goods.name">
                </div>
                <div class="six wide field required">
                    <label>Цена</label>
                    <div class="ui right labeled input">
                        <div class="ui label">$</div>
                        <input type="number" placeholder="Цена" ng-model="goods.cost">
                        <div class="ui basic label">.00</div>
                    </div>
                </div>
                <div class="twelve wide field required" >
                    <label>Фото</label>
                    <div file-input></div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui button cancel">Cancel</div>
        <div class="ui button approve">OK</div>
    </div>
</div>

<!--<form class="uk-form uk-form-stacked" name="addGoodForm" ng-submit="submit(addGoodForm)" novalidate>-->
    <!--<div class="uk-modal-dialog">-->
        <!--<a class="uk-modal-close uk-close"></a>-->
        <!--<div class="uk-modal-header">-->
            <!--<h2>Добавить товар</h2>-->
        <!--</div>-->
        <!--<fieldset>-->
            <!--<div class="uk-form-row">-->
                <!--<label for="name" class="uk-form-label">Название</label>-->
                <!--<input type="text"-->
                       <!--id="name"-->
                       <!--name="name"-->
                       <!--class="uk-form-large uk-width-1-1"-->
                       <!--ng-model="good.name">-->
            <!--</div>-->
            <!--<div class="uk-form-row">-->
                <!--<label for="cost" class="uk-form-label">Цена</label>-->
                <!--<input type="number"-->
                       <!--id="cost"-->
                       <!--name="cost"-->
                       <!--class="uk-form-large uk-text-right"-->
                       <!--ng-model="good.cost">-->
            <!--</div>-->
            <!--<div class="uk-form-row" image-drop>-->
                <!--<div class="uk-placeholder">-->
                    <!--<i class="uk-icon-cloud-upload uk-icon-medium uk-text-muted uk-margin-small-right"></i>-->
                    <!--Перетащите фото-->
                <!--</div>-->
            <!--</div>-->
        <!--</fieldset>-->
        <!--<div class="uk-modal-footer uk-text-right">-->
            <!--<button type="button" class="uk-button js-modal-ok" ng-click="generateFakeGoods()">FakeGoods</button>-->
            <!--<button class="uk-button uk-modal-close">Отмена</button>-->
            <!--<button type="submit" class="uk-button uk-button-primary js-modal-ok">Добавить</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</form>-->